<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albert Einstein</title>
</head>
<body>
    <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Einstein_1921_by_F_Schmutzer_-_restoration.jpg/411px-Einstein_1921_by_F_Schmutzer_-_restoration.jpg" height="300" width="200"><br>
    <h1>Эйнштейн, Альберт</h1>
    <div>
        <span>
            Альбе́рт Эйнште́йн (нем. Albert Einstein МФА: [ˈalbɐt ˈaɪ̯nʃtaɪ̯n]ⓘ[C 1], 14 марта 1879, Ульм, королевство Вюртемберг, Германская империя — 18 апреля 1955, Принстон, штат Нью-Джерси, США) — американский, немецкий и швейцарский физик-теоретик и общественный деятель-гуманист, один из основателей современной теоретической физики. Лауреат Нобелевской премии по физике 1921 года. Его теория относительности изменила основания физики, заменив классическую механику и закон всемирного тяготения Ньютона. Персона XX века по версии журнала Time[6].
        </span>
        <span>
            Жил в Германии (1879—1895, 1914—1933), Швейцарии (1895—1914), и с 1933 года до конца жизни — в США. Из Германии с приходом к власти нацистов был вынужден эмигрировать, и после публичного отказа от гражданства Германии (весной 1933 года)[7] 24 марта 1934 года был его лишён[8][9][10]. Гражданин США с 1940 года. Почётный доктор около 20 ведущих университетов мира, член многих Академий наук, в том числе иностранный почётный член АН СССР (1926).

        </span>
    </div>
    <a href="https://ru.wikipedia.org/wiki/Эйнштейн,_Альберт">Более подробно можно ознакомиться по ссылке</a>
</body>
</html>