<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Isaak Newton</title>
</head>
<body>
    <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/GodfreyKneller-IsaacNewton-1689.jpg/411px-GodfreyKneller-IsaacNewton-1689.jpg" height="300" width="200"><br>
    <h1>Исаак Ньютон</h1>
    <p>Сэр Исаа́к Нью́то́н[K 1] (англ. Isaac Newton, английское произношение: [ˌaɪzək ˈnjuːtən]; 25 декабря 1642 года — 20 марта 1727 года по юлианскому календарю, действовавшему в Англии до 1752 года; или 4 января 1643 года — 31 марта 1727 года по григорианскому календарю) — английский физик, математик, механик и астроном, один из создателей классической физики и математического анализа.</p>
    <a href="https://ru.wikipedia.org/wiki/Ньютон,_Исаак">Более подробно можно ознакомиться по ссылке</a>
</body>
</html>